<div class="teachers-section">
    <h2>Docentes</h2>
    
    <div class="teacher-card">
        <div class="teacher-avatar">
            AP
        </div>
        <div class="teacher-info">
            <h3>Axel Buca Press</h3>
            <p>Profesor de Programación Avanzada</p>
            <div class="teacher-bio">
                Lorem ipsum dolor sit amet consectetur adipiscing elit quis nibhant venen trilegata. Sincidunt ut venenius rutrum indebtedi (muglia rutrum ultramarque i tibi lobulae semalis).
            </div>
        </div>
    </div>
    
    <div class="teacher-card">
        <div class="teacher-avatar">
            AC
        </div>
        <div class="teacher-info">
            <h3>Aless Antonio Cruz</h3>
            <p>Profesor de JavaScript</p>
            <div class="teacher-bio">
                Lorem ipsum dolor sit amet consectetur adipiscing elit perpendent eros felicitum, incidunt ut enim ad minim habitant famiglies nuis aute iridesnatur qui habitat nec consulia.
            </div>
        </div>
    </div>
</div>